/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  --background-color: #303030;
  --input-bg: #212121;
  --input-hover-bg: #555555;
  --todo-bg: #262525;
  --button-bg: #212121;
  --button-hover-bg: #555555;
  --border-radius: 8px;
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  --text-color: #fff;
  --primary-color: #1db954;
  --secondary-color: #535353;
}

/* General Styles */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.main-body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.todo-app {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  height: 100vh;
  margin: 80px 0;
  background-color: var(--todo-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  overflow-y: auto;
}

.input-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 16px;
  background-color: var(--input-bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: none;
  transition: background-color 0.3s ease;
}

input[type="text"]::placeholder {
  color: #ccc;
}

input[type="text"]:focus {
  outline: none;
  background-color: var(--input-hover-bg);
}

button {
  padding: 14px 20px;
  background-color: var(--button-bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg);
}

.todos {
  padding: 20px;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--todo-bg);
  border-radius: var(--border-radius);
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
  box-shadow: var(--shadow);
}

.todo-list li:hover {
  background-color: var(--primary-color);
}

.todo-text {
  color: var(--text-color);
  font-size: 16px;
}

.span-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

.span-button:hover {
  background-color: var(--button-hover-bg);
}

/* No items found */
.face {
  width: 100px;
  height: 100px;
  opacity: 0.3;
}

.not-found {
  color: var(--text-color);
  text-align: center;
  margin-top: 20px;
  opacity: 0.3;
}

/* Scrollbar */
.todos::-webkit-scrollbar {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .todo-app {
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .input-section {
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}

/* Checkbox Animation */
.container {
  cursor: pointer;
}

.container input {
  display: none;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

